.headerComponent {
	background-color: #4a6289;
	padding: 20px;
	color: #EDF1F7;
}

.headerComponent__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerComponent__container__menuBurger {
	font-size: 36px;
	padding: 10px;
}

.headerComponent__container__menuBurger:hover {
	font-size: 37px;
	cursor: pointer;
}

.headerComponent__container__title {
	font-size: 36px;
	padding: 0px 20px 0px 20px;
}

.headerComponent__container__title a {
	color: #EDF1F7;
	text-decoration: none;
}

.headerComponent__container__title a:hover {
	text-decoration: none;
}