.headerComponent {
	background-color: #4a6289;
	padding: 20px;
	color: #fffff7;
}

.headerComponent__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.headerComponent__container__menuBurger {
	
}

.headerComponent__container__title {
	font-size: 36px;
	padding: 0px 20px 0px 20px;
}